PORT=3000
# CLOUD_URL=http://localhost:2999
CLOUD_URL=https://cloud.somaglobaltalent.org/

# Database (PostgreSQL)
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/somabox_lms
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=somabox_lms
PGSSL=false
PGMAXCONNECTIONS=50

# Firebase Sync Configuration
FIRESTORE_STUDENTS_COLLECTION=students
FIRESTORE_STAFF_COLLECTION=staff